@import url('./utilites.scss');



// custom global styles
.header-content {
  position: relative;
  padding-top: 26px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .navlist {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger-button {
    display: none;
  }

  @media (max-width: 1023px) {

    .navlist,
    .header-contacts {
      display: none;
    }

    .burger-button {
      display: block;
    }
  }
}

.footer-content {
  padding-top: 34px;
  padding-bottom: 21px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .logo {
    width: 95px;
  }

  .sitemap-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .sitemap-pages {
      display: grid;
      grid-template-columns: 140px auto;
      column-gap: 90px;
      row-gap: 17px;
    }
  }

  .contacts-wrapper {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;

    .contacts-social {
      display: flex;
      gap: 15px;

      a {
        width: fit-content;
        height: fit-content;

        svg {
          path {
            transition: all var(--btn-transition);
          }
        }

        &:hover {
          svg {
            path {
              fill: var(--brown);
            }
          }
        }
      }
    }
  }

  @media (max-width: 1279px) {
    grid-template-columns: auto 1fr auto;
    column-gap: 60px;

    .sitemap-wrapper {
      .sitemap-pages {
        column-gap: 60px;
      }
    }
  }

  @media (max-width: 1023px) {
    column-gap: 30px;

    .sitemap-wrapper {
      gap: 20px;

      .sitemap-pages {
        grid-template-columns: 110px auto;
        column-gap: 30px;
      }
    }
  }

  @media (max-width: 719px) {
    padding-top: 30px;
    padding-bottom: 30px;

    grid-template-columns: auto 1fr;
    row-gap: 50px;

    .sitemap-wrapper {
      .sitemap-pages {
        grid-template-columns: 1fr auto;
      }
    }

    .contacts-wrapper {
      grid-column: span 2;
      justify-content: flex-start;
    }
  }

  @media (max-width: 479px) {
    display: flex;
    flex-direction: column;
  }
}


.preview-section {
  position: relative;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  z-index: 1;

  .section-overlay {
    --overlay-height: 594px;
    --wave-height: 315px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--overlay-height) + var(--wave-height));

    display: flex;
    flex-direction: column;
    z-index: -1;

    &_beige {
      flex: 1;
      width: 100%;
    }

    &_wave {
      width: 100%;
      height: 315px;
      object-fit: cover;
      transform: translateY(-30px);
    }
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
  }

  .preview-content__left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    transform: translateY(-140px);
  }

  .preview-content__right {
    position: relative;

    .preview-section_image {
      width: 577px;
    }

    .flower-350 {
      position: absolute;
      right: -155px;
      bottom: 0;

      @media (max-width: 1279px) {
        right: -135px;
        bottom: -50px;
      }

      @media (max-width: 1023px) {
        right: -50px;
        bottom: -50px;
      }

      @media (max-width: 479px) {
        right: 0px;
        bottom: -50px;
      }
    }
  }

  .preview-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1919px) {
    .preview-content__left {
      transform: translateY(-120px);
    }
  }

  @media (max-width: 1439px) {
    gap: 150px;

    .content-wrapper {
      gap: 50px;
    }

    .preview-content__left {
      transform: unset;

      .vector-about {
        width: 477px;
        height: 169px;
      }
    }

    .preview-content__right {
      .preview-section_image {
        width: 477px;
      }
    }
  }

  @media (max-width: 1279px) {
    gap: 250px;

    .preview-content__left {
      .vector-about {
        width: 373px;
        height: 132px;
      }
    }

    .preview-content__right {
      .preview-section_image {
        width: 420px;
      }
    }

    .section-overlay {
      &_wave {
        object-position: 20% 0%;
      }
    }
  }

  @media (max-width: 1023px) {
    gap: 100px;

    .content-wrapper {
      flex-direction: column;
      gap: 85px;
    }

    .preview-content__left {
      .vector-about {
        width: 504px;
        height: 178px;
      }
    }

    .preview-content__right {
      .preview-section_image {
        width: 477px;
      }
    }

    .section-overlay {
      --overlay-height: 700px;
    }
  }

  @media (max-width: 719px) {
    .content-wrapper {
      gap: 35px;
    }

    .preview-content__left {
      .vector-about {
        width: 410px;
        height: 145px;
      }
    }

    .preview-content__right {
      .preview-section_image {
        width: 100%;
      }
    }

    .section-overlay {
      --overlay-height: 611px;
    }
  }

  @media (max-width: 479px) {
    gap: 150px;

    .content-wrapper {
      gap: 50px;
    }

    .preview-content__left {
      .vector-about {
        width: 271px;
        height: 96px;
      }
    }

    .section-overlay {
      --overlay-height: 490px;
    }
  }
}

.uslugi-section {
  .uslugi-list {
    display: grid;
    grid-template-columns: 230px auto;
    column-gap: 160px;
    row-gap: 17px;

    .usluga-item {
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }

  @media (max-width: 1023px) {
    .uslugi-list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: unset;
    }
  }

  @media (max-width: 719px) {
    .uslugi-list {
      row-gap: 15px;

      .usluga-item {
        gap: 10px;

        svg {
          width: 24px;
          height: 15px;
        }
      }
    }
  }

  @media (max-width: 479px) {
    .uslugi-list {
      .usluga-item {
        gap: 7px;
      }
    }
  }
}

.promos-section {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .caption-block {
    position: relative;

    .title-vector {
      --vector-size: 150px;
      position: absolute;
      right: 0;
      bottom: calc(var(--vector-size) * -0.5);
      rotate: 82deg;
      pointer-events: none;
      user-select: none;

      text {
        font-size: 20px;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .content {
      --content-padding: 30px;
      position: relative;
      width: calc(100% - var(--content-padding) * 2);
      padding: var(--content-padding);
      z-index: 1;

      .biege-overlay {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: 13px;
        z-index: -1;
      }
    }

    .swiper-wrapper {
      display: flex;

      .swiper-slide {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @media (max-width: 719px) {
    .caption-block {
      .text-24nn {
        max-width: 280px;
      }
    }

    .content-container {
      .swiper-wrapper {
        .swiper-slide {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 34px;
        }
      }
    }
  }

  @media (max-width: 479px) {
    .caption-block {
      .text-24nn {
        max-width: 200px;
      }
    }
  }
}

.place-section,
.aboutwork-section,
.takingcare-section,
.team-section,
.waiting-section {
  .caption-block {
    gap: 24px;
  }
}

.aboutwork-section,
.takingcare-section,
.team-section,
.waiting-section {
  @media (max-width: 719px) {
    .caption-48 {
      font-size: 40px;
      text-align: center;
    }

    .text-24 {
      text-align: center;
    }
  }
}

.place-section {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .place-item {
      &-1 {
        --width: 967px;
        --height: 715px;
        --translate-x: -96px;
        --translate-y: 0;

        align-self: flex-start;

        img {
          position: relative;
          width: var(--width);
          height: var(--height);
          transform: translate(var(--translate-x), var(--translate-y));
        }

        @media (max-width: 1279px) {
          --width: 850px;
          --height: 628px;
          --translate-x: 0;
          --translate-y: 0;
        }

        @media (max-width: 1023px) {
          --width: 100%;
          --height: auto;
          --translate-x: 0;
          --translate-y: 0;
          max-width: 650px;
        }

        @media (max-width: 719px) {
          --width: calc(100% - 30px);
          --translate-x: 10px;
        }

        @media (max-width: 479px) {
          --translate-x: 0px;
        }
      }

      &-2 {
        --width: 535px;
        --height: 395px;
        --translate-x: 0;
        --translate-y: -60px;

        align-self: flex-end;

        img {
          position: relative;
          width: var(--width);
          height: var(--height);
          transform: translate(var(--translate-x), var(--translate-y));
        }

        @media (max-width: 1919px) {
          --width: 445px;
          --height: auto;
        }

        @media (max-width: 1439px) {
          --translate-x: -20px;
          --translate-y: -70px;
        }

        @media (max-width: 1023px) {
          --width: 365px;
          // --height: 255px;
          --translate-x: -40px;
          --translate-y: -10px;
        }

        @media (max-width: 719px) {
          --width: 225px;
          --translate-x: 0px;
          --translate-y: -20px;
        }

        @media (max-width: 479px) {
          --width: 175px;
        }
      }

      &-3 {
        --mask-width: 392px;
        --mask-height: 786px;
        --video-width: 350px;
        --video-height: 740px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        >.btn-brown {
          display: none;
        }

        .place-item_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 60px;

          .place-left {
            position: relative;
            width: var(--mask-width);
            height: var(--mask-height);
            z-index: 1;

            .place-video_mask {
              position: absolute;
              top: 0;
              left: 0;

              width: var(--mask-width);
              height: var(--mask-height);
              z-index: 2;

              user-drag: none;
              -webkit-user-drag: none;
              user-select: none;
              -moz-user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
            }

            .place-video {
              width: calc(var(--mask-width) - 2px);
              height: calc(var(--mask-height) - 2px);
              object-fit: cover;
              transform: translate(1px, 1px);
            }
          }

          .place-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 100px;

            .letsee-video {
              margin-left: 10px;
              display: flex;
              flex-direction: column;
              gap: 16px;

              .text-16 {
                max-width: 305px;
              }
            }
          }
        }


        @media (max-width: 1023px) {
          --mask-width: 275px;
          --mask-height: 553px;
          --video-width: 245px;
          --video-height: 520px;

          >.btn-brown {
            display: flex;
          }

          .place-item_wrapper {
            gap: 50px;

            .place-right {
              .letsee-video {
                margin-left: 0;

                .arrow-vector {
                  width: 60px;
                  height: auto;
                }

                .text-16 {
                  max-width: 150px;
                }
              }

              .btn-brown {
                display: none;
              }
            }
          }
        }

        @media (max-width: 719px) {
          --mask-width: 255px;
          --mask-height: 511px;
          --video-width: 227px;
          --video-height: 480px;
          gap: 60px;

          .place-item_wrapper {
            gap: 30px;

            .letsee-video {
              gap: 10px;
            }
          }
        }

        @media (max-width: 479px) {
          --mask-width: 164px;
          --mask-height: 328px;
          --video-width: 146px;
          --video-height: 310px;

          .place-item_wrapper {
            gap: 15px;
          }
        }
      }
    }
  }

  @media (max-width: 1919px) {
    .content-wrapper {
      gap: 60px
    }
  }
}

.aboutwork-section {
  position: relative;
  z-index: 1;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .uslugi-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 150px;
    justify-items: center;

    .usluga-item {
      position: relative;
      max-width: 370px;
      display: flex;
      flex-direction: column;
      gap: 38px;
      z-index: 1;

      .usluga-item_caption {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .text-24 {
          min-height: 56px;
        }
      }

      .btn-element {
        align-self: flex-end;
      }

      .usluga-item_overlay {
        position: absolute;
        top: -30%;
        left: -22%;
        width: 150%;
        height: 150%;
        z-index: -1;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }
  }

  .section-overlay {
    --margin-bottom: 110px;
    --wave-height: 280px;

    position: absolute;
    top: calc(0px - var(--wave-height));
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(var(--wave-height) + 100% - var(--margin-bottom));
    z-index: -1;

    &_beige {
      flex: 1;
      width: 100%;
    }

    &_wave {
      width: 100%;
      height: var(--wave-height);
      object-fit: cover;
      transform: translateY(30px);
    }
  }

  @media (max-width: 1919px) {
    .uslugi-list {
      column-gap: 80px;
      row-gap: 120px;
    }

    .section-overlay {
      --margin-bottom: 140px;
      --wave-height: 223px;
    }
  }

  @media (max-width: 1439px) {
    .uslugi-list {
      column-gap: 120px;

      .usluga-item {
        .usluga-item_overlay {
          left: -19%;
          width: 144%;
        }
      }
    }

    .section-overlay {
      --margin-bottom: 120px;
    }
  }

  @media (max-width: 1279px) {
    .uslugi-list {
      .usluga-item {
        .usluga-item_overlay {
          left: -25%;
          width: 140%;
        }

        &:nth-child(2n) {
          .usluga-item_overlay {
            left: -18%;
          }
        }
      }
    }
  }

  @media (max-width: 1023px) {
    .uslugi-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 100px;

      .usluga-item {
        .usluga-item_overlay {
          top: -25%;
          left: -25%;
          width: auto;
          height: 150%;
        }
      }
    }

    .section-overlay {
      --margin-bottom: 140px;
    }
  }

  @media (max-width: 479px) {
    .uslugi-list {
      .usluga-item {
        max-width: 250px;

        .usluga-item_overlay {
          top: -60%;
          left: -60%;
          width: 220%;
          height: 220%;
        }

        &:nth-child(2n) {
          .usluga-item_overlay {
            left: -60%;
          }
        }
      }
    }
  }
}

.team-section {
  display: flex;
  flex-direction: column;
  gap: 60px;

  .large-content-wrapper {
    width: 100%;

    // TODO: доделать слайдер 
    .teammate-slider {
      .teammate-slider-wrapper {}
    }
  }
}

.certificate-section {
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    .text-24 {
      max-width: 640px;
      text-wrap: pretty;
    }

    .flower-322 {
      position: absolute;
      right: calc(-.5 * var(--flower-width));
      bottom: calc(-.2 * var(--flower-width));
    }

    @media (max-width: 1279px) {
      .flower-322 {
        right: calc(-.2 * var(--flower-width));
        bottom: calc(-.1 * var(--flower-width));
      }
    }

    @media (max-width: 1023px) {
      padding-bottom: 250px;
      align-items: center;

      .caption-48,
      .text-24 {
        text-align: center;
      }

      .flower-322 {
        left: calc(50% - var(--flower-width) * .5);
        right: unset;
        bottom: calc(-.25 * var(--flower-width));
      }
    }

    @media (max-width: 479px) {
      padding-bottom: 80px;

      .flower-322 {
        left: unset;
        right: 10px;
        bottom: calc(-.5 * var(--flower-width));
      }
    }
  }
}

.waiting-section {
  .caption-block {
    .caption-info {
      display: flex;
      gap: 235px;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  @media (max-width: 1023px) {
    .caption-block {
      .caption-info {
        justify-content: space-between;
        gap: unset;

        .friendly-text {
          width: 360px;
        }

        .time-text {
          white-space: nowrap;
        }
      }
    }
  }

  @media (max-width: 719px) {
    .content-wrapper {
      align-items: center;
    }

    .caption-block {
      .caption-info {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;

        .friendly-text {
          width: fit-content;
        }

        .time-text {
          font-size: 20px;
        }
      }
    }
  }

  @media (max-width: 479px) {
    .caption-block {
      align-items: center;

      .caption-info {
        align-items: center;

        .friendly-text {
          text-align: center;
        }

        .time-text {
          text-align: center;
        }
      }
    }
  }
}

.contacts-section {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;

    .contacts-rec {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }

    @media (max-width: 1023px) {
      align-items: center;
      gap: 80px;

      .contacts-rec {
        align-items: center;
      }
    }

    @media (max-width: 719px) {
      gap: 65px;
    }

    @media (max-width: 479px) {
      gap: 50px;
    }
  }
}